@charset "UTF-8";
/* CSS Document */
@import url(help/reset.css);
@import url(font-awesome-4.7.0/css/font-awesome.min.css);
@import url(help/rwdgrid.css);
@import url(textEditor.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(//fonts.googleapis.com/css?family=Crimson+Text|Raleway);

body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體", Heiti TC, "メイリオ";
	font-size: 13px;
}

br {
	font-family: "微軟正黑體";
}

[class*='col-'] {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.b-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap,
.wrapTop,
.wrapBottom,
.wrapIndex,
.wrap02 {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}

.label {
	padding: 5px 7px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.8);
}

.clear {
	clear: both;
}

.outerWrap {
	overflow-x: hidden;
}

.fullWrap {
	position: relative;
	left: calc((-100vw + 1175px)/2);
	width: 100vw;
}

.apphide {
	display: none !important;
}

.nopadding {
	padding: 0 !important;
}

/*****網頁頭*****/
header {
	position: fixed;
	z-index: 99;
	left: 0;
	width: 100%;
	height: 85px;
	padding-top: 10px;
	box-sizing: border-box;
	background: url("../images/menuBg.jpg") repeat;
	box-shadow: 0 2px 3px rgba(13, 4, 9, 0.25);
}





/*********內頁**********/
/**********************/

.mainArea {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.mainArea>.wrap {
	position: relative;
	margin-top: 85px;
	padding-bottom: 110px;
}

.mainArea>.wrap:before {
	content: '';
	position: absolute;
	z-index: 1;
	right: -30px;
	top: 0;
	width: 290px;
	height: 260px;
	background: url("../images/content_top_icon.jpg") no-repeat;
}

/*.mainArea > .wrap:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: -228px;
	width: 383px;
	height: 110px;
	background: url("../images/bottomMountain.jpg") no-repeat;
}*/

.mainArea .contentBox {
	position: relative;
	z-index: 2;
}

.mainArea .titleBox {
	position: relative;
}

.mainArea .titleBox h2 {
	position: relative;
	z-index: 1;
}

.mainArea .titleBox h2:after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 340px;
	height: 300px;
	background: url("../images/contentBg_rendering.jpg") no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.mainArea .titleBox h2 em {
	display: block;
	color: #a9997f;
	font-family: "Times New Roman", sans-serif;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: .1em;
	margin-bottom: 30px;
}

.mainArea .titleBox h2 b {
	font-weight: normal;
	font-family: "cwTeXFangSong", serif;
	font-size: 65px;
	color: #140200;
}

.mainArea .titleBox h2 p {
	font-weight: normal;
	font-family: "cwTeXFangSong", serif;
	font-size: 27px;
	line-height: 38px;
	color: #444;
	letter-spacing: .06em;
}

.mainArea .titleBox h2 p span {
	font-family: '新細明體';
}

.mainArea .titleBox.left {
	padding-top: 70px;
}

.mainArea .titleBox.left h2:after {
	left: -25px;
	top: 80px;
}

.mainArea .titleBox.left h2 p {
	margin-bottom: 15px;
}

.mainArea .titleBox.center {
	display: inline-block;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding-top: 135px;
}

.mainArea .titleBox.center h2 {
	display: inline-block;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	direction: inherit;
	padding-bottom: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.mainArea .titleBox.center h2:before {
	content: '';
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 98%;
	width: calc(100% - 20px);
	height: 1px;
	background: rgba(0, 0, 0, 0.35);
}

.mainArea .titleBox.center h2:after {
	left: -30px;
	bottom: -40px;
}

.mainArea .titleBox.center h2 b {
	display: block;
	margin: 0 12px;
	line-height: 64px;
}

.mainArea .titleBox.center h2 p {
	text-align: right;
}

.mainArea .titleBox.center .Txt {
	font-family: "cwTeXFangSong", serif;
	font-size: 21px;
	line-height: 33px;
	color: #5e5349;
	margin-top: 40px;
	text-align: center;
	letter-spacing: .08em;
}

.mainArea .contentBox {
	clear: both;
}

.mainArea .contentBox h3.articleTitle {
	/*文章標題*/
	clear: both;
	margin-bottom: 25px;
	border-bottom: 1px dashed #D6D6D6;
	padding: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #061540;
}

.mainArea .contentBox h3.articleTitle strong {
	font-weight: normal;
}

table.breakpoint>tbody>tr>td.expand {
	cursor: pointer;
	background: url(../images/plus.png) no-repeat 5px center;
	padding-left: 40px;
}

/**********適應性**********/
/************************/
@media (max-width: 1600px) {}

@media (max-width: 1180px) {

	/*1160+20(卷軸寬度)*/
	.fMenu {
		display: block;
	}

	.scrollBg .bg {
		background-attachment: scroll;
	}


	.wrap,
	.wrapTop,
	.wrapIndex,
	.wrapBottom,
	.wrap02 {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

}

@media (max-width: 768px) {

	/*bread*/
	.mainArea .titleBox .bread {
		display: none;
	}

	/*main*/
	.mainArea .wrap {
		padding: 0px 20px;
	}

	.mainArea .wrap:before {
		display: none;
	}

	.mainArea .wrapTop:before {
		display: none;
	}

	.mainArea .wrapBottom {
		padding: 50px 20px;
	}

	.mainArea .cotentBox {
		padding: 20px 0;
	}

	.mainArea .titleBox.center {
		padding-top: 60px;
	}

	.mainArea .titleBox h2 {
		float: none;
	}
}